@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap';
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  background-color: #fff;
  color: #0b2349;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-right: 170px;
}
.header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  white-space: nowrap;
  color: #00042d;
}
.header__navigation {
  margin-right: 30px;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.navigation__list {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
  word-wrap: normal;
}
.navigation__list a {
  color: #00042d;
}
.navigation__list:hover {
  font-size: 20px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
header,
body {
  font-family: 'Montserrat', sans-serif;
}
header ._container,
body ._container {
  max-width: 867px;
  margin: 0 auto;
  padding: 0 20px;
}
.page,
.footer,
.header {
  background: #e5e5e5;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.information__container {
  background: #00042d;
  height: 778px;
}
.information__mainblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
}
.information__aboutit {
  padding-top: 150px;
}
.information__image {
  margin-top: 100px;
  position: relative;
  left: 30%;
}
.information__button {
  padding-left: 120px;
  margin-top: 45px;
}
.aboutit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.aboutit__title {
  color: #fff;
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  margin-bottom: 30px;
  white-space: nowrap;
}
.aboutit__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  white-space: nowrap;
}
.download-button {
  border: 1px solid #fff;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
  color: #fff;
}
.download-button:hover {
  font-size: 18px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.about__container {
  background: #fff;
  height: 640px;
  color: #00042d;
}
.about__main {
  padding: 80px;
}
.about__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 94px;
}
.about__title p {
  width: 100px;
  height: 2.25px;
  margin: 80px 0 90px -48px;
  background: #00042d;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.about__subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin: 40px 0;
}
.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.services__container {
  background: #00042d;
}
.services__main {
  padding: 100px 80px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.services__item {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  color: #fff;
}
.footer__container {
  background: #fff;
}
.footer__navigation {
  padding: 55px 0 0 80px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.footer__information {
  padding: 25px 0;
}
